.registartion_fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  
  .registration_field_item {
    margin-bottom: 30px;
  }
  
  .registration_field_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2fcef2;
  }
  
  .registration_field_title .field_title {
    padding: 0px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.15px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    color: inherit;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .field-sub-title {
    font-size: 14px;
    font-weight: 400;
  }
  .registartion_field_input {
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(33, 189, 223, 0.1) 92.72%
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 20px 30px;
    border-radius: 16px;
    color: #b4e8ff;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.15px;
    font-family: "Space Grotesk", sans-serif;
    font-size: x-large;
  }
  .transaction-err .registartion_field_input {
    font-size: 1rem;
    background-color: rgb(242, 104, 91, 0.08);
    color: rgb(242, 104, 91);
    border: 1px solid rgb(242, 104, 91);
  }
  .field_info > svg {
    width: 24px;
    height: 24px;
    background-color: transparent;
    fill: rgb(255, 255, 255, 0.5);
    border-radius: 100px;
    padding: 5px;
  }
  .field_info > svg:hover {
    /* background-color: #000; */
    fill: #72eeff;
  }
  
  .registration_period {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .registration_period_time {
    text-transform: uppercase;
  }
  .registration_period_modification {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .registration_period_modification > span {
    border: 1px solid #72eeff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
  
    /* padding: 6px; */
  }
  
  .registration_period_modification > span:hover {
    background-color: #72eeff;
    border: 1px solid #72eeff;
  }
  .registration_period_modification > span > svg {
    fill: #72eeff;
    /* padding: 6px; */
  }
  .registration_period_modification > span:hover > svg {
    fill: black;
    /* padding: 6px; */
  }
  .opacity_low {
    opacity: 0.3;
    pointer-events: none;
  }
  
  .domain-register {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .submit-button {
    margin-top: 10px;
  }