@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  background: #1a1a1a; /* Fallback background color */
}

html, body {
  color: var(--foreground);
  font-style: normal;
  /* height: fit-content; */
}

body {
  background: linear-gradient(180deg, #1a1a1a 0%, #2a2a2a 100%);
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: -100vh; /* Adjust this value to move the circle up or down */
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; /* Use viewport width for a perfect circle */
  height: 100vw; /* Match height to width for a circle */
  background: radial-gradient(
    circle,
    rgba(120, 228, 120, 0.5) 0%,
    rgba(120, 255, 120, 0.3) 25%,
    rgba(120, 255, 120, 0.02) 50%,
    rgba(120, 255, 120, 0.01) 70%
  );
  filter: blur(50px); /* Increased blur for a softer edge */
  border-radius: 50%; /* This creates the circular shape */
  pointer-events: none;
  z-index: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #469913;
  border-radius: 10px;
}

.content {
  position: relative;
  z-index: 1;
}

.fredoka-font {
  font-family: 'Fredoka', cursive;
}